html,
body {
  background-color: #0b0f2f;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.blended-background {
  background: #0b0f2f;
  background: linear-gradient(
    165deg,
    rgba(11, 15, 47, 1) 43%,
    rgba(58, 151, 147, 1) 100%
  );
}

.blended-background-reverse {
  background: #0b0f2f;
  background: linear-gradient(
    330deg,
    rgba(11, 15, 47, 1) 43%,
    rgba(58, 151, 147, 1) 100%
  );
}

.nav-bar-link {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.nav-bar-link:hover {
  border-bottom-color: #14e0a1;
  text-decoration: none;
}

.btn {
  border-radius: 50px;
  background-color: #14e0a1;
}

.btn:active,
.btn:focus {
  transform: scale(0.95) !important;
  box-shadow: 0 0 5px white !important;
}

.btn-hover {
  transition: all 0.3s ease;
}

.btn-hover:hover {
  filter: drop-shadow(0 0 5px #3a9793);
  color: white !important;
}

.form-control {
  background-color: #132841;
  border-color: #3a9793;
  color: white;
}

.form-control:focus {
  background-color: #132841;
  box-shadow: 0 0 5px #3a9793;
  color: white;
}

.project-link {
  cursor: pointer;
  text-decoration: underline;
  color: #14e0a1;
  transition: color 0.2s ease;
}

.project-link:hover {
  color: #0f9a7b;
}
